*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



/* Background */
.hero{
    background: linear-gradient(285deg, #12b8b7, #188f2a, #b5d815, #9715d8, #d81515, #d815ae, #4ea5d5, #ffe300, #3c78dd, #d5e4c3);
    background-size: 2000% 2000%;

    -webkit-animation: AnimationName 50s alternate-reverse infinite;
    -moz-animation: AnimationName 50s ease-in infinite;
    animation: AnimationName 45s ease-in-out infinite;
    width: 100%;
    min-height: 100vh;
    /* background:linear-gradient(45deg, #010758, gray, rgb(190, 94, 94)); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

@-webkit-keyframes AnimationName {
    20%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes AnimationName {
    80%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

/* REM Used for Responsiveness */
.hero h1{
    font-size: 2.813rem;
    font-weight: 500;
    margin-top: -3.125rem;
    margin-bottom: 3.125rem;
}

.hero h1 span{
    font-family: monospace;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(lightblue, lightslategray, black, rgb(149, 255, 0));
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}


textarea{
    
    width:37.5rem;
    height: 15.625rem;
    background: #403d84;
    color: whitesmoke;
    font-size: 0.938rem;
    outline: 0;
    border: 0;
    padding:1.25rem;
    border-radius:0.625rem;
    margin-bottom:1.875rem;
    resize: none;
}

textarea::placeholder{
    font-size:1rem;
    color:#ffffffb4;
}

.row{
    width:37.5rem;
    display: flex;
    align-items: center;
    gap:1.25rem;
}

button{
    background:#ff2963;
    color: #fff;
    font-size: 1rem;
    padding:0.625rem 1.875rem;
    border-radius: 2.188rem;
    cursor: pointer;
    align-items: center;
}

button img{
    width:1rem;
    margin-right:0.625rem;
}


select{
    flex: 1;
    color: white;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}
